.container-presentacion{
    background-image:url('Imagenes/Main.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    padding-bottom: 75px;
}
.container-presentacion h1{
    color: #ffffff;
    font-family:"Raleway", sans-serif;
    font-size: 48px;
}

.unetebtn{
    background-color: #379683;
    color:#ffffff;
    border-style:none ;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
}

.unetebtn:hover{
    background-color: #FF8B94;
    font-size: bold;
}

/*Header del Lanidng*/
.topheader {
    position: static;
    background-color:#FF8B94;
    width: 100%;
    z-index: 100px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.topheader img{
    border-radius: 40px;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 2000px;
    font-family: "Raleway", sans-serif;
    padding: 0;
}

.menu-horizontal li a {
    display: flex;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal li a:hover {
    color: rgb(255, 255, 255);
}

.menu-vertical {
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: white;
    font-family: "Raleway", sans-serif;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #FF8B94;
    transform: scale(1.1);
}

.Login {
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
}
.Login:hover {
    background-color: #379683;
    color: white;
}

.Sign {
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
}

.Sign:hover {
    background-color: #379683;
    color: white;
}

/*Estilos de las Cartas-Eventos Conversacionales*/

.Conversacional-Tarjeta{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.Conversacional-Tarjeta h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: bold;
}

.Conversacional-Tarjeta p{
    align-content: center;
    padding-top: 25px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.container-cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    margin: 60px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img {
    width: 100%;
    height: 210px;
}
.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #000000;
    font-size: 20px;
}

.card .contenido h4 {
    font-weight: 400;
    margin-bottom: 15px;
    font-weight: bold;
}


.Vermas {
    background-color: #FFD3B6;
    margin:20px;
    border-style:none;
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
}

.Vermas:hover{
    background-color: #FF8B94;
    color:#ffffff;
    font-weight: bold;
}

.card .boton-content{
    display: flex;
    justify-content: center;
}

.SaberMas{
    background-color: #FFD3B6;
    margin:20px;
    border-style:none;
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
}

.SaberMas:hover{
    background-color: #FF8B94;
    color:#ffffff;
    font-weight: bold;
}
/*Quienes somos*/

.container-info{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.Info-Seccion h2{
    text-align: center;
    padding-bottom: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.Info-Seccion p{
    text-align: center;
    font-family: "Raleway",sans-serif;
    margin-top: 100px;
    font-size: 20px;
}

.boton-info {
    justify-content: center;
    display:flex;
    margin-top: 20px;
}

.Texto-Info{
    max-width: 500px;
}

.Info-Seccion img{
    margin-left: 75px;
    margin-bottom: 20px;
}
/*Estilos de las Cartas-Eventos Conversacionales*/

.Testimonios-Seccion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Testimonios-Seccion h2{
    text-align: center;
    padding-bottom: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.review-card {
    width: 180px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
}

.user-image img {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
}

.user-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.stars {
    color: gold;
    font-size: 1rem;
}

.review-text {
    font-size: 0.75rem;
    color: #555;
    margin: 0;
}

.container-reviews{
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 1rem;
    scroll-behavior: smooth;
    justify-content: center;
}

/*Registro*/

.Register-Section {
    padding: 40px 20px;
    margin-top: 0px;
    height: 600px;
    width: auto;
}

.Container-Registro {
    width: 500px;
    margin: 0 auto;
    height: 400px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border-color:#000000;
    display: flex;
    align-items: center;
    
}

.Container-Registro legend {
    margin-left: 90px;
}
/* Elementos de los formularios */

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap; 
    text-align: left;
}

.register-title {
    max-width: 600px;
    font-size: 22px;
    color: #2c3e50;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 30px;
}
        
.form-wrapper h2 {
    padding-bottom: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;

}
        
.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #2c3e50;
}
        
.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-group-check label{
    display: flex;
}
.form-group-check input{
    width: 30px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-cancel {
    background-color: #e0e0e0;
    color: #2c3e50;
}

.btn-submit {
    background-color: #379683;
    color: white;
}        
.btn:hover {
    opacity: 0.9;
}

/*Footer*/
.footer-section {
    background-color: #FF8B94;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
}

.footer-section img{
    border-radius: 50px;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer-column {
    width: 10%;
    margin-top: 30px;
}
.footer-column-img{
    width: 10%;
    margin-top: 10px;
    cursor: pointer;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family:"Raleway", sans-serif ;

}

.footer-column ul {
    list-style-type: none;
}
